mixin card
	div.container.text-center.mt-5 
		div.row.gx-6 
			div.col 
				div.card.tapewinder-border.w-auto 
					img(class="card-img-top" src=cards["cardImages"][cardIterable] alt=cards["cardAlts"][cardIterable])
				div.card-body 
					p(class="card-text open-sans") #{cards["cardText"][cardIterable]}

mixin modal(customModalID, customLabel, modalTitle)
	div(class="modal fade" id=customModalID tabindex="-1" aria-labelledby=customLabel aria-hidden="true")
		div.modal-dialog
			div.modal-content.tapewinder-black 
				div.modal-header
					h1(class="modal-title fs-5 open-sans" id=customLabel) #{modalTitle}
					button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close")
				div.modal-body
					h1(class="open-sans") test
				div.modal-footer 
					button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close 
					button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Sign in


doctype html 
html(lang="en")
	head 
		title= "tapewinder"
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//- fonts
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet")
		//- favicon
		link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		link(rel="manifest" href="/site.webmanifest")
		link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000")
		link(rel="shortcut icon" href="/favicon.ico")
		meta(name="apple-mobile-web-app-title" content="tapewinder")
		meta(name="application-name" content="tapewinder")
		meta(name="msapplication-TileColor" content="#603cba")
		meta(name="msapplication-config" content="/browserconfig.xml")
		meta(name="theme-color" content="#ffffff")
		//- CSS
		link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous")
		link(rel="stylesheet" href="/css/styles.css")
	body
		nav.navbar.navbar-expand-lg.tapewinder-black
			div.container-fluid
				a(class="navbar-brand ms-3" href="/")
					img(src="/tapewinder_draft3.png" alt="logo" width="200" href="/")
				button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="View navigation options")
					each _ in [1,1,1]
						div.hamburger
				div.collapse.navbar-collapse.open-sans#navbarNavAltMarkup
					div.navbar-nav.text-center 
						a(class="nav-link text-light" href="/") Home
						//- conditional login
						if loggedOut
							a(class="nav-link text-light" id="loginstate" data-bs-toggle="modal" data-bs-target="#myModal" href="/")
		div.white.container.m-4
			p(class="display-5 open-sans bold d-inline") My mixtapes
			a(class="open-sans bold float-end d-inline white mt-3" href="/") See all:
			//- clarifying that this creates a modal :)
			+modal("myModal", "Sign in modal", "Sign in")
	script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous")
	script(src="/js/getUserState.js")
	script(src="/js/firebaseComponents.js" type="module")